@import url(http://fonts.googleapis.com/css?family=Roboto);

html {
  position: relative;
  height: 100%;
}

body {
	padding:0;
	margin:0;
	background-color: #F9F9F9;
	font-family: 'Roboto', sans-serif;
	font-size: small;
}

#loading-message
{
	width: 100%;
	min-height: 100%;
	height: auto !important;
	position: fixed;
	top:0; 
	left:0;
	z-index: 9999;
	background-color: #000;
    background: rgb(0, 0, 0) transparent;
    background: rgba(0, 0, 0, 0.6);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
}

#loading-message div
{
	background-color: #000;
	font-size: large;
	position: absolute;
    left: 50%;
    top: 50%;
    padding: 20px;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    color: #ccc;
    border-radius: 7px 7px 7px 7px;
    -moz-border-radius: 7px 7px 7px 7px;
    -webkit-border-radius: 7px 7px 7px 7px;
    border: 0px solid #000000;
}

#loading-message-proceso
{
	width: 100%;
	min-height: 100%;
	height: auto !important;
	position: fixed;
	top:0; 
	left:0;
	z-index: 9999;
	background-color: #000;
    background: rgb(0, 0, 0) transparent;
    background: rgba(0, 0, 0, 0.6);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
}

#loading-message-proceso div
{
	background-color: #000;
	font-size: large;
	position: absolute;
    left: 50%;
    top: 50%;
    padding: 20px;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    color: #ccc;
    border-radius: 7px 7px 7px 7px;
    -moz-border-radius: 7px 7px 7px 7px;
    -webkit-border-radius: 7px 7px 7px 7px;
    border: 0px solid #000000;
}

#wrapper
{
	min-height: 459px;
}

.footer {
    width: 100%;
    height: 168px;
    bottom: 0;
}

.footer ul
{
	padding-left: 0;
	list-style: none;
	text-decoration: none;
    outline: none;
    color: #fff;
}

.footer-left a:link
{
	text-decoration: none;
    outline: none;
	color: #58585B;
}

.footer-right a:link
{
	text-decoration: none;
    outline: none;
    color: #fff;
}

.login{
	background-color: #fff;
	border-radius: 5px;
	color:#303030;
	margin-top: 10%;
	border: solid 1px #ccc;
}

.navbar{
	margin-bottom: 0;
}

.red-line{
	background-color: #EB3B46;
	padding-top: 4px;
}

.blue-line{
	background-color: #1252A4;
	padding-top: 4px;
}

.after-line{
	padding-top: 4px;
}

.table thead th{
  text-transform: uppercase;
  text-align: center;
}

.table
{
	text-align: center;
}

.pagination{ 
	margin 0;
}

.panel-heading{ 
  padding: 5px 10px 0 10px;
}

.orderBy{
	cursor: pointer;
}

.table thead{
	background-color: #F5F5F5;
}

.centered {
	margin:auto;
}

.bootstrap-switch {
	-webkit-border-radius: 150px !important;
	-moz-border-radius:150px !important;
    border-radius: 150px !important;
}

.text-lowercase
{
	text-transform: lowercase
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
	color: #555555;
	cursor: default;
	background-color: #F5F5F5;
	border: 1px solid #dddddd;
	border-bottom-color: transparent;
	text-transform: uppercase; 
	font-weight: bold; 
} 

nav-tabs > li > a,
.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus {
	color: #555555;
	cursor: default;
	background-color: #F5F5F5;
	border: 1px solid #dddddd;
	border-bottom-color: transparent;
	text-transform: uppercase; 
	font-weight: bold; 
} 

.nav-tabs > li > a{
	color: #000;
} 

.datatable-no-padding-left
{
	padding-left: 0px;
}

.datatable-no-padding-right
{
	padding-right: 0px;
}

.datatable-float-right
{
	text-align: right;
}

.datatable-link
{
	color:#ccc;
}

.datatable-link:hover
{
	color:#336699;
}

.fecha, .fecha-vigencia
{
	width: 106px;
}

table {
	table-layout: fixed;
}

table td {
	word-wrap:break-word;
}

textarea {
	resize:none;
}

.form-group.required .control-label:after { 
    color: #d00;
    content: "*";
    position: absolute;
    margin-left: 2px;
    top:7px;
}

.lblObligatorio::before
{
	content: "Los campos (*) son obligatorios";
	text-align: right;
	float: right;
	font-size: 0.9em;
	font-style: italic;
	color: #a5a4a4;
	width: 100%;
	clear: both;
}

.lblResultado tbody tr td
{
	height: 51px;
	vertical-align: middle;
	/*padding: 10px;*/
	/*	line-height: 14px;*/
}

.lblResultado tbody tr td label
{
	font-weight: normal;
}

div .editable {
	height: 100px;
	border: 1px solid #ccc;
}

.filaDestacada
{
	background-color: #80b3dd;
	color: #fff;
}